                    <div class="card card-primary">
                        <!-- Panel Heading for the retrieved articles box -->
                        <div class="card-header">
                            <h3 class="card-title"><strong>Scraped Articles</strong></h3>
                        </div>
                        <!-- This main panel will hold each of the resulting articles -->
                        <div class="card-body" id="card-section">

{{#each articles}}
  {{#unless saved}}
<div class="card mb-3 bg-info border-info" id="article-card-1">
    <div class="card-header">

        <h3 class="articleHeadline">
          <span class="badge badge-success">{{@index}}</span>
          <strong>{{headline}}</strong>
        </h3>
    </div>

    <div class="card-body">

      <a href="{{storyUrl}}" class="storyLink" target="_blank">
        <img class="img-thumbnail rounded float-left article-pic" src="{{imgUrl}}">
        </a>

        <p class="story-summary">{{summary}}</p>
        <h5 class="storyByline">{{byLine}}</h5>
        <button class="btn btn-success pull-right" id="saveArticle" data-id="{{_id}}">Save Article</button>

      </div>
    </div>

  {{/unless}}
{{/each}}






{{!-- Modal for alerting number of scraped articles --}}
<div id="alertModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body text-center">
        <h2>You have scraped <span id="numArticles"></span> new articles</h2>
      </div>
    </div>
  </div>
</div>

{{!-- error modal --}}
<div id="error" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <h2>There was an error processing your request.  Please try again later.</h2>
      </div>
    </div>
  </div>
</div>
